SMTP_HOST="smtp.example.com"
SMTP_USER="user@example.com"
SMTP_PASS="pass1234"
SMTP_PORT=465
SMTP_NOTIFY_EMAIL="joe@example.net"
SMTP_NOTIFY_NAME="Joe User"
SMTP_FROM_EMAIL="no-reply@example.com.au"
SMTP_FROM_NAME="Cert Checker"